/ExamCreator/Tests/gg.xml
/ExamCreator/Tests/999icq.xml
/ExamCreator/Tests/5iq.crypt
/ExamCreator/Tests/prohor.crypt
/ExamCreator/Tests/999icq.crypt
/ExamCreator/Tests/5iq.xml
/ExamCreator/Tests/prohor.xml
/ExamCreator/Tests/gg.crypt
/.idea/.idea.ExamCreator/.idea/vcs.xml
/ExamCreator/Tests/кек.crypt
/ExamCreator/Tests/кек.xml
/ExamCreator/Tests
Examiner/bin/Debug/Microsoft.Office.Interop.Word.dll
/.idea